{% extends "base.html" %}
{% block title %}Checkout{% endblock title %}
{% block navbar %} 
<nav class="flex items-center bg-gray-800 dark:bg-white">
    <div class="relative justify-between w-full block flex-grow lg:flex lg:items-center lg:w-auto p-3 space-x-4">
        <a href="{% block homelink %}{{ url_for('index') }}{% endblock homelink %}" class="max-w-2xl block text-2xl text-gray-100 dark:text-gray-700 font-bold text-center md:text-left" style="font-family: 'Parisienne', cursive;">Charle's Pizza</a>
        <div class="hidden lg:flex-grow lg:block">
            <div class="inline-flex space-x-4 inset-y-0 left-0" style="font-family: 'Exo 2', sans-serif;">
                <a href="{% block orderlink %}{{ url_for('order') }}{% endblock orderlink %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Order Now!</a>
                <a href="{% block reservelink %}{{ url_for('reserve') }}{% endblock reservelink %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Online Reservation</a>
                {# <a href="{% block reviewlink %}{{ url_for('reviews') }}{% endblock reviewlink %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Reviews</a> #}
            </div>
        </div>
        {% if current_user.is_authenticated %}
            <div>
                <div class="inline-flex mr-4" style="font-family: 'Exo 2', sans-serif;">
                    <a href="{{ url_for('logout', next=url_for('index')) }}" class="cursor-pointer text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Logout</a>	
                </div>
                <div class="inline-flex mr-4" style="font-family: 'Exo 2', sans-serif;">
                    <a href="{{ url_for('show_cart') }}" class="cursor-pointer text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Show Cart</a>	
                </div>
            </div>
        {% else %}
            <div class="inline-flex mr-4" style="font-family: 'Exo 2', sans-serif;">
                <a class="modal-open cursor-pointer text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-1.5 rounded-md text-xl font-medium">Login</a>	
            </div>
        {% endif %}
    </div>
</nav>
{% endblock navbar %}
{% block content %}
	<div class="mx-auto w-8/12 mt-8 bg-white pt-5 p-5 mb-6"> 
        <div class="flex border-b-2">
            <span class="text-2xl font-bold">Checkout</span>
        </div>
        <div class="mt-2 justify-between">
            <div>
                <form action="{{ url_for('checkout') }}"method="post"> 
                    {{ form1.csrf_token }}
                    {% if form1.csrf_token.errors %}
                        <div role="alert">
                            <div class="border border-red-400 rounded bg-red-100 px-4 py-3 text-red-700">
                                {% for err in form2.csrf_token.errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="mb-5">
                        <label class="block text-gray-700 text-md font-bold mb-1">
                            {{ form1.payment_option.label }}
                        </label>
                        {{ form1.payment_option(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", onchange="this.form.submit()")|safe }}
                        {% if form1.payment_option.errors %}
                            <ul class=errors>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            {% if form2 %}
                <div>
                    <form action="{{ url_for('billing') }}" method="post">
                        {{ form2.csrf_token }}
                        {% for field in form2 %}
                            {% if field != form2.csrf_token and field != form2.submit %}
                                {{ render_field(field) }}
                            {% endif %}
                        {% endfor %}
                        <div class="flex flex-grow justify-between max-w-7xl">
                            {{ form2.submit(class_="bg-indigo-700 hover:bg-indigo-600 text-white font-bold px-2 py-3 focus:outline-none focus:bg-indigo-600", value="Confirm")}}
                        </div>
                    </form>
                </div>
            {% endif %}
        <div>
    </div>
{% endblock content%}