{% extends "base_with_modal.html" %}
{% block title %}Home{% endblock title %}
{% block homelink %}#{% endblock homelink %}
{% block content %}
<div class="mx-auto w-8/12 pt-5 bg-white p-4 mt-10">
	<div class="flex justify-center align-center py-4">
		<span class="text-5xl font-bold" style="font-family: 'Satisfy', cursive;">Charle's Pizza</span>
	</div>
	<hr>
	<div class="flex py-4 p-2 gap-x-12 text-center">
		<span class="flex-shrink text-2xl md:text-3xl self-center w-4/12" style="font-family: 'Caveat', cursive;">A restaurant for those with exquisite tastes.</span>
		<span class="flex-grow text-base md:text-lg text-left" style="font-family: 'Oswald', sans-serif;">We only believe in using authentic and the most fresh ingredients in making our dishes. Our philosophy is to make rare and usually unobtainable ingredients and recipes available to the public with as much quality as possible. This philosophy was spread by our founder, Charles Robert. We still believe in his founding beliefs and do what our founder does best, find new and exotic ingredients only to use in the common food, Pizza. </span>
	</div>
	<hr>
	<div class="flex py-4 p-2 gap-x-12 text-center">
		<span class="flex-shrink text-2xl md:text-3xl self-center w-4/12" style="font-family: 'Caveat', cursive;">A Pizza must only be served hot.</span>
		<span class="flex-grow text-base md:text-lg text-left" style="font-family: 'Oswald', sans-serif;">What's worse than a badly arranged Pizza? A cold one. No person should be subjected to the torutre of eating cold Pizza when they want a hot one. Therefore, we only do deliveries in 30 minutes or less. We also package all of our products so as to loose as less heat as possible. Our other products also get importance as they too are packaged in such a way that they lose minimal heat before they reach your doorstep</span>
	</div>
</div>
{% endblock content %} 